<div id="description">
<% if authorized? %>
  <div class="form">
  <%= form_for @setting do |f| %>
  <%= f.text_area :description, :size => "80x4" %>
  <%= f.submit 'Update' %>
  <% end %>
  </div>
<% end %>
  <div class="text">
    <%= @setting.description %>
  </div>
</div>